<!-- About Section

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills and Experience</h2>
                 <h3 class="section-subheading text-muted">This is the subheading</h3> 
            </div>
            <div class="col-lg-12">
                <div class="barWrapper">
                    <span class="progressText"><B>Content Creation</B></span>
                   <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >      
                   </div>
                   </div>
                   
                   <div class="barWrapper">
                    <span class="progressText"><B>Copywriting</B></span>
                   <div class="progress ">
                     <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="10" aria-valuemax="100" style="">
                     </div>
                     
                   </div>
                   </div>
                   
                   <div class="barWrapper">
                    <span class="progressText"><B>Content Marketing Strategy</B></span>
                   <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                     </div>
                   </div>
                   </div>
                   <div class="barWrapper">
                    <span class="progressText"><B>Copy Editing</B></span>
                   <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">
                     </div>
                   </div>
                   </div>
                     <div class="barWrapper">
                    <span class="progressText"><B>Search Engine Optimization</B></span>
                   <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                     </div>
                </div>
                <div class="barWrapper">
                  <span class="progressText"><B>Social Media Marketing</B></span>
                 <div class="progress">
                   <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                   </div>
              </div>
    </div>
</section> -->