<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Past Clients</h2>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="https://www.beach.com/" target="_blank">
                    <img src="img/logos/beach.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://bustickets.com/" target="_blank">
                    <img src="img/logos/bustickets.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://heartland.com/" target="_blank">
                    <img src="img/logos/heartlanddental.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://sherpacrm.com/" target="_blank">
                    <img src="img/logos/sherpa.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>